.breadcrumbs-list{
    margin-top:50px;
    list-style: none;
    padding-left:0;
    padding-bottom:15px;
    border-bottom:1px solid #E4E4E4;
    @include media-breakpoint-down(xs){
        display: none;
    }
    .breadcrumb-item{
        a{
            text-decoration: none;
            color:inherit;
        }
        color:#343434;
        display: inline-block;
        position: relative;
        margin-right:10px;

    }
}