#desktop-menu {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}
header{
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.1);
}
.wrapped-mobile {
    @include media-breakpoint-up(md) {
        display: none;
    }
    position: relative;

    #toggle-menu-mobile {
        &.active {
            top: 0;
        }

        &.close {
            top: -1000px;
        }

        z-index:        1;
        width:          100%;
        background:     #ffffff;
        position:       absolute;
        max-height:     100vh;
        overflow-y:     scroll;
        overflow-x:     hidden;
        padding-bottom: 50px;
        transition:     all ease-in-out 1s;

        .break-line {
            width:         auto;
            display:       block;
            margin:        10px 15px;
            border-bottom: solid 1px #e4e4e4;
        }

        .item {
            display:        flex;
            flex-direction: row;
            align-items:    center;
            padding:        12px 20px;

            &.item-header {
                position:relative;
                border-bottom:solid 1px #E4E4E4;
                i{
                    position: absolute;
                    right:20px;
                    top:12px;
                    font-size:12px;
                    transform:rotate(0deg);
                    transition: all ease-in-out 0.2s;
                    &.move{
                        transform:rotate(90deg);
                    }
                }
            }

            img {
                display:      inline-flex;
                max-height:   20px;
                margin-right: 15px;
            }

            span {
                font-size:   14px;
                color:       #343434;
                font-weight: 600;
                font-family: "Open Sans";
            }
        }
        .item-collapse{
            border-bottom:solid 1px #E4E4E4;
            .item{
                .name{
                    font-weight: normal;
                }
            }
        }
    }

    #mobile-menu {
        z-index:            2;
        background:         #ffffff;
        -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow:    0px 2px 7px 0px rgba(0, 0, 0, 0.1);
        box-shadow:         0px 2px 7px 0px rgba(0, 0, 0, 0.1);
        position:           relative;
        overflow:           hidden;

        .menu-group-menu {
            display:         flex;
            flex-direction:  row;
            justify-items:   center;
            justify-content: center;
            align-items:     center;

            .menu-item {
                padding-top:    14px;
                padding-bottom: 15px;
                width:          20%;
                justify-items:  center;
                text-align:     center;

                a {
                    text-decoration: none;
                }

                img {
                    height:        20px;
                    display:       block;
                    margin:        0 auto;
                    margin-bottom: 7px;
                }

                i.fa {
                    font-size:     20px;
                    display:       block;
                    margin-bottom: 7px;
                }

                img.logo {
                    height:         auto;
                    max-width:      100%;
                    padding-bottom: 0;
                    margin-bottom:  0;
                    max-height:     50px;
                }

                .name {
                    font-size: 10px;
                    color:     #343434;
                }
            }
        }
    }
}

#page-header {
    background: #e7e7e7;

    .menu-row {
        display:        flex;
        text-align:     center;
        flex-direction: row;
        justify-items:  center;

        .menu-item {
            padding-top:    10px;
            padding-bottom: 10px;
            display:        flex;
            width:          16.6%;
            flex-direction: column;
            font-size:      13px;
            line-height:    18px;

            a {
                color:           #343434;
                text-decoration: none;
                text-transform:  uppercase;
            }

            @include media-breakpoint-down(md) {
                font-size: 9px;
            }
        }
    }
}

#main-menu {
    background: #ffffff;

    .logo {
        display:       block;
        margin-top:    5px;
        margin-bottom: 5px;
        max-width:     115px;
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }

    .group-middle-menu {
        display:        flex;
        flex-direction: row;
        justify-items:  center;

        .mid-menu-item {
            width:          25%;
            padding-top:    25px;
            padding-bottom: 20px;
            text-align:     center;

            img {
                display:       block;
                margin:        0 auto;
                height:        28px;
                margin-bottom: 10px;
            }

            .name {
                font-size:   14px;
                font-family: "Open Sans";
                font-weight: 600;
                color:       #343434;
            }
        }

        @include media-breakpoint-down(md) {
            .mid-menu-item {
                img {
                    height: 20px;
                }

                .name {
                    font-size: 12px;
                }
            }
        }
    }

    .group-last-menu {
        display:        flex;
        flex-direction: row;
        justify-items:  center;
        margin-left:    100px;

        .last-menu-item {
            width:          50%;
            padding-top:    25px;
            padding-bottom: 20px;
            text-align:     center;

            img {
                display:       block;
                margin:        0 auto;
                height:        28px;
                margin-bottom: 10px;
            }

            .name {
                font-size:   14px;
                font-family: "Open Sans";
                font-weight: 600;
                color:       #343434;
            }
        }

        @include media-breakpoint-down(md) {
            margin-left: 0;
            .last-menu-item {
                img {
                    height: 20px;
                }

                .name {
                    font-size: 12px;
                }
            }
        }
    }
}
#footer{
    margin-top:0;
    .logo-footer{
        margin-top:30px;
        margin-bottom:50px;
        max-width: 100px;
    }
    .contact-info-list{
        list-style: none;
        padding-left:0;
        .white-text{
            color:#F5F5F5;
        }
    }
    .contact{
        @include media-breakpoint-down(xs){
            display: block;

        }
    }
    .payment,.logistic{
        @include media-breakpoint-down(xs){
            display: block;
            float: none;

        }
    }
    .bottom-breakline{
        padding-bottom:15px;
        border-bottom:1px solid #575757;
    }
    .menu-2{
        div:first-child{
            display: none;
        }
    }
}
