.wrapper-related-container{
    margin-top:45px;
    position: relative;
    height:100%;
    width:100%;
    @include media-breakpoint-down(md){
        position: unset;
        height:unset;
        width:100%;
    }
    .related-absolute{
        position: absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
        @include media-breakpoint-down(md){
            position: unset;
            height:unset;
            width:100%;
        }
        #related-post{
            &.hidden-post{
                @include media-breakpoint-up(lg){
                    opacity: 0;
                }
            }
            position: fixed;
            width:400px;
            transition: all ease-in-out 0.7s;
            @include make-col(3);
            @include media-breakpoint-down(md){
                @include make-col(12);
                position: unset;
                opacity: 1!important;
            }
            .title{
                color:#272832;
                font-size:20px;
                font-weight: bold;
                font-family: "Open Sans";
                margin-bottom:15px;
            }
            .break-line{
                martgin-bottom:10px;
                border-bottom:solid 1px #E4E4E4;
            }
            .scroll-related{
                transition:all ease-in-out 1s;
                max-height: calc(100vh/2.5);
                overflow-y:scroll;
                &.expand-height{
                    @include media-breakpoint-up(lg){
                        max-height: calc(100vh/2);
                    }
                }
                @include media-breakpoint-down(md){
                    max-height: none;
                }
            }
            .related-item{
                margin:10px 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-bottom:solid 1px #E4E4E4;
                padding-bottom:10px;
                margin-bottom:5px;
                &:last-child{
                    border-bottom:none;
                }
                .image-side{
                    display: flex;
                    width: 25%;
                    img{
                        width:auto;
                        max-width: 100%;
                        height:auto;
                    }
                }
                .content-side{
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    padding-left:10px;
                    a{
                        text-decoration: none;
                    }
                    .name{
                        font-size:16px;
                        color:#272832;
                        font-weight:bold;
                        font-family: "Open Sans";
                        margin-bottom:5px;
                    }
                    .description{
                        font-size:14px;
                        color:#000000;
                        font-family: "Open Sans";
                        margin-bottom:0;

                    }
                }
            }

        }
    }
}
