@import "variable";
@import "../../node_modules/bootstrap/scss/bootstrap";

#banner-top {
    #banner-slide {
        margin-bottom: 0;

        .detail-slide {
            .image-filter {
                background-size:     cover;
                background-position: left;
                height:              460px;
                background-repeat:   no-repeat;
                @include media-breakpoint-up(md) {
                    height: 640px;
                }
            }
        }

        .slick-dots {
            bottom: 25px;

            li {
                button {
                    &:before {
                        font-size: 20px;
                        color:     #ffffff;
                        opacity:   1;
                    }
                }

                &.slick-active {
                    button {
                        &:before {
                            font-size: 20px;
                            color:     $mainColor !important;
                        }
                    }
                }
            }
        }
    }
}

#category-banner {
    background: #f5f5f5;

    .group-category {
        padding:    31px;
        text-align: center;
        @include media-breakpoint-down(sm) {
            padding: 30px 0;
        }

        img {
            height:        30px;
            display:       block;
            margin:        0 auto;
            margin-bottom: 15px;
        }

        .name {
            text-align:  center;
            color:       #777777;
            font-size:   16px;
            font-weight: normal;
            @include media-breakpoint-down(sm) {
                font-size: 12px;
            }
        }
    }

    .middle-item {
        position: relative;

        &:before {
            content:    "";
            position:   absolute;
            left:       0;
            top:        15%;
            height:     70%;
            width:      1px;
            background: #e4e4e4;
        }

        &:after {
            content:    "";
            position:   absolute;
            right:      0;
            top:        15%;
            height:     70%;
            width:      1px;
            background: #e4e4e4;
        }
    }
}

#guide-style {
    padding-top: 60px;
    .mobile-display {
        @include media-breakpoint-up(md){
            display: none;
        }
        #style-guide-slides{
            .detail-slide{
                .image-style-guide{
                    max-height:200px;
                }
            }
        }
    }
    .desktop-display{
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
    .first-styles {
        margin-bottom: 5px;
    }

    .masthead {
        font-family:   "Open Sans";
        font-weight:   bold;
        font-size:     26px;
        margin-bottom: 30px;
        color:         #000000;
    }

    .image-style-guide {
        width:               100%;
        height:              400px;
        background-size:     cover;
        background-position: center;
        background-repeat:   no-repeat;
        margin-bottom:       20px;
        @include media-breakpoint-down(md){
            height:250px;
        }
    }

    .title {
        font-size:     23px;
        font-family:   "Open Sans";
        font-weight:   bold;
        text-transfom: uppercase;
        color:         #000000;
        margin-bottom: 5px;
    }

    .short-description {
        font-family:   "Open Sans";
        font-weight:   normal;
        font-size:     14px;
        margin-bottom: 20px;

    }

    .link {
        text-decoration: none;
        color:           #606060;
        font-size:       16px;
        text-transform:  uppercase;
        font-family:     "Open Sans";
        font-weight:     600;
    }
}
#banner-winter{
    margin-top:75px;
    height:400px;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    @include media-breakpoint-down(sm){
        min-height:330px;
        background-position: left;
        position:relative;

    }
    .group-text{
        @include media-breakpoint-up(md){
            display: none;
        }
        display: flex;
        flex-direction: row;
        justify-content: end;
        //padding-top:100%;
        align-items:flex-end;
        padding:20px 10px;
        position: absolute;
        bottom:0;
        .item-left{
            width:70%;
            //display: flex;
            p{
                margin-bottom:0;
                font-size: 35px;
                font-weight:bold;
                color:#ffffff;
            }
        }
        .item-right{
            width:30%;
            display: flex;
            a{
                padding-bottom:10px;
                text-decoration: none;
                font-weight: normal;
                font-size:14px;
                color:#FF8718;
                text-transform: uppercase;
                cursor:pointer;
            }
        }
    }
}
#hot-product{
    padding-top:65px;
    .masthead {
        font-family:   "Open Sans";
        font-weight:   bold;
        font-size:     26px;
        margin-bottom: 0px;
        color:         #000000;
        @include media-breakpoint-down(sm){
            margin-bottom:20px;
        }
    }
    .break-line{
        border-bottom:1px solid #D7D7D7;
        padding-bottom:15px;
        margin-bottom:35px;
        @include media-breakpoint-down(sm){
            padding-bottom:10px;
            margin-bottom:25px;
        }
    }
    .product-prepend{
        min-height: 350px;
    }
    .group-category{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height:100%;
        align-items: center;
        cursor:pointer;
        .category-item{
            display: flex;
            width:25%;
            justify-content:center;
            text-align: center;
            &.first-el{
                 @include media-breakpoint-down(sm){
                     width:30%;
                 }
             }
            &.second-el{
                @include media-breakpoint-down(sm){
                    width:20%;
                }
            }
            &.active{
                .name{
                    &:after{
                        content:"";
                        position: absolute;
                        bottom:-18px;
                        left:0;
                        width:100%;
                        height:3px;
                        border-radius:5px;
                        background: #1C1C1C;
                        transition: all ease-in-out 0.5s;
                        @include media-breakpoint-down(md){
                            bottom:-23px;
                        }
                        @include media-breakpoint-down(sm){
                            bottom:-10px;
                        }
                    }
                }
            }

            .name{
                color:#272832;
                text-transform: uppercase;
                font-size:16px;
                font-family: "Open Sans";
                font-weight: normal;
                position: relative;
                @include media-breakpoint-down(md){
                    font-size:14px;
                }
                @include media-breakpoint-down(sm){
                    font-size:12px;
                }
                &:after{
                    content:"";
                    position: absolute;
                    bottom:-18px;
                    left:0;
                    width:100%;
                    height:0px;
                    border-radius:5px;
                    background: #1C1C1C;
                    transition: all ease-in-out 0.5s;
                    @include media-breakpoint-down(md){
                        bottom:-23px;
                    }
                    @include media-breakpoint-down(sm){
                        bottom:-10px;
                    }
                }
                &:hover{
                    &:after{
                        height:3px;
                    }
                }
            }

        }
    }
    .wrapping-tag{
        position: relative;
        height:100%;
    }
    .tag-sale{
        padding:5px 15px;
        background:$mainColor;
        color:#000000;
        font-size:16px;
        font-weight:bold;
        position: absolute;
        top:10px;
        right:-5px;
        z-index: 10;
        @include media-breakpoint-down(sm){
            padding:3px 10px;
            font-size:7px;
        }
    }
    .product-card{
        height:100%;
        border:solid 1px transparent;
        transition: all ease-in-out 0.7s;
        padding:5px 15px;
        position:relative;
        overflow: hidden;
        .redirect-link{
            display: none;
            @include media-breakpoint-down(md){
                display:block;
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                z-index: 4;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 3px 7px;
        }
        &:hover{
            border-color:#E5E5E5;
            .add-card{
                bottom:12px;
                @include media-breakpoint-down(sm){
                    bottom:-50px;
                }
            }
        }
        .image-wrapper{
            img{
                display: block;
                margin:0 auto;
            }
        }
        .product-info{
            .name{
                margin-top:5px;
                margin-bottom:6px;
                font-size:15px;
                color:#343434;
                font-family: "Open Sans";
                font-weight: normal;
                @include media-breakpoint-down(sm){
                    color:#343434;
                    font-size:12px;
                }
            }
            .price-group{
                .item-price{
                    font-size:14px;
                    color:#252525;
                    b{
                        font-size:20px;
                        color:#343434;
                    }
                    @include media-breakpoint-down(sm){
                        //color:#4690FF;
                        font-size:10px;
                        b{
                            font-size:14px;
                        }
                    }
                }
            }
            margin-bottom:60px;
            @include media-breakpoint-down(sm){
                margin-bottom:5px;
            }
        }
        .add-card{
            position: absolute;
            display: block;
            padding:12px 10px;
            background:#000000;
            bottom:-100px;
            margin:0 auto;
            width:90%;
            left:0;
            right:0;
            text-align: center;
            transition:all ease-in-out 0.7s;
            .cta{
                text-decoration: none;
                cursor:pointer;
                color:#ffffff;
                font-size:16px;
                text-align: center;
            }
            @include media-breakpoint-down(md){
                display:none;
                padding:5px 10px;
                .cta{
                    font-size:12px;
                }
            }
        }
    }
}
#promotion-news{
    padding-top:60px;
    padding-bottom:70px;
    .masthead{
        font-family:   "Open Sans";
        font-weight:   bold;
        font-size:     26px;
        margin-bottom: 40px;
        color:         #000000;
        @include media-breakpoint-down(sm){
            margin-bottom:20px;
        }
    }
    .group-event{
        margin-top:15px;
        margin-bottom:10px;
        display: flex;
        flex-direction: column;
        .image-side{
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .content-side{
            padding:23px 0px;
            a{
                text-decoration:none;
                cursor:pointer;

            }
            .name{
                font-size:17px;
                color:#000000;
                font-weight: bold;
                margin-bottom:7px;
                transition: all ease-in-out 0.7s;
                &:hover{
                    color:$mainColor;
                }
            }
            .description{
                font-size: 14px;
                font-weight: normal;
                margin-bottom:0;

            }
        }
        @include media-breakpoint-down(sm){
            flex-direction: row;
            .image-side{
                width:25%;
            }
            .content-side{
                width: 75%;
                padding:10px 5px;
                .name{
                    font-size:12px;
                }
                .description{
                    font-size:10px;
                }
            }
        }
    }
    .all-event-cta{
        cursor:pointer;
        text-decoration: none;
        font-size: 16px;
        font-weight: normal;
        color:#000000;
        margin-top:40px;
        transition: all ease-in-out 0.7s;
        &:hover{
            color:$mainColor;
        }
    }
}