@import "variable";
@import "../../node_modules/bootstrap/scss/bootstrap";

#style-guide-category-page {
    margin-top: 60px;

    .masthead {
        font-family:   "Open Sans";
        font-weight:   bold;
        font-size:     26px;
        margin-bottom: 30px;
        color:         #000000;
        margin-bottom: 20px;
    }
    .break-line{
        border-bottom:1px solid #D7D7D7;
        padding-bottom:15px;
    }
    .group-category {
        display:        flex;
        flex-direction: row;

        .item {
            display: flex;
            width:   20%;
            align-self: center;
            &:first-child{
                width:25%;
            }
            @include media-breakpoint-down(lg){
                width:28%;
                &:first-child{
                    width:30%;
                }
            }
            @include media-breakpoint-down(sm){
                width:30%;
            }
            @include media-breakpoint-down(xs){
                width:33%;
            }

            .name{
                font-size:20px;
                @include media-breakpoint-down(md){
                    font-size:14px;
                }
                @include media-breakpoint-down(xs){
                    text-align: center;
                }
                color:#D7D7D7;
                cursor:pointer;
                font-family: "Open Sans";
                position:relative;
                transition: all ease-in-out 0.4s;
                &:after{
                    content:"";
                    display: block;
                    position: absolute;
                    bottom:-15px;
                    height:0px;
                    border-radius:5px;
                    width:100%;
                    background:#272832;
                    transition: all ease-in-out 0.4s;
                }
                &:hover{
                    color:#272832;
                    &:after {
                        height: 3px;
                    }
                }
            }
            &.active{
                .name{
                    color:#272832;
                    &:after{
                        height:3px;
                    }
                }

            }
        }
    }
    .tab-content{
        margin-top:30px;
        .masthead{
            margin-top:30px;
            margin-bottom:15px;
            font-size:24px;
        }
        .short-description{
            margin-bottom:45px;

        }
        .break-line{
            margin-bottom:45px;
        }
        .group-event{
            margin-top:15px;
            margin-bottom:10px;
            display: flex;
            flex-direction: column;
            .image-side{
                img{
                    display: block;
                    margin: 0 auto;
                }
            }
            .content-side{
                padding:23px 0px;
                a{
                    text-decoration:none;
                    cursor:pointer;

                }
                .name{
                    font-size:17px;
                    color:#000000;
                    font-weight: bold;
                    margin-bottom:7px;
                    transition: all ease-in-out 0.7s;
                    &:hover{
                        color:$mainColor;
                    }
                }
                .description{
                    font-size: 14px;
                    font-weight: normal;
                    margin-bottom:0;

                }
            }
            @include media-breakpoint-down(sm){
                flex-direction: row;
                .image-side{
                    width:25%;
                }
                .content-side{
                    width: 75%;
                    padding:10px 5px;
                    .name{
                        font-size:12px;
                    }
                    .description{
                        font-size:10px;
                    }
                }
            }
        }
        .all-event-cta{
            cursor:pointer;
            text-decoration: none;
            font-size: 16px;
            font-weight: normal;
            color:#000000;
            margin-top:40px;
            transition: all ease-in-out 0.7s;
            &:hover{
                color:$mainColor;
            }
        }
    }

}
#banner-winter {
    margin-top:          75px;
    height:              400px;
    background-size:     cover;
    background-position: center;
    background-repeat:   no-repeat;
    @include media-breakpoint-down(sm) {
        min-height:          330px;
        background-position: left;
        position:            relative;

    }
}
footer{
    margin-top:0 !important;
}