@import "variable";
@import "../../node_modules/bootstrap/scss/bootstrap";
#style-guide-overview{
    margin-top:25px;
    .style-guide-group{
        display:flex;
        margin:25px 0;
        flex-direction: row;
        align-items: center;
        &.row-reverse{
            flex-direction: row-reverse;
        }
        @include media-breakpoint-down(sm){
            flex-direction: column;
            &.row-reverse{
                flex-direction: column;
            }
            border-bottom:1px solid #E4E4E4;
            padding-bottom:25px;
            margin-bottom:23px;
        }
        .style-guide-item{
            padding:10px;
            display: flex;
            width:50%;
            @include media-breakpoint-down(sm){
                width: 100%;
            }
            img{
                max-width:100%;
                height:auto;
                @include media-breakpoint-down(sm){
                    border-radius:2px;
                }
            }
            .name{
                color:#272832;
                font-family:"Open Sans";
                font-size:26px;
                font-weight: bold;
                margin-bottom:29px;
                @include media-breakpoint-down(sm){
                    margin-bottom:10px;
                }
                &.hidden-mb{
                    display: none;
                    @include media-breakpoint-up(md){
                        display: block;
                    }
                }
            }
            .short-description{
                color:#000000;
                font-family:"Open Sans";
                font-size:14px;
                margin-bottom:13px;
                @include media-breakpoint-down(sm){
                    margin-bottom:0px;
                }
            }
            a{
                text-decoration: none;
                color:#000000;
                font-size:16px;
                font-family: "Open Sans";
                transition: all ease-in-out 0.5s;
                &:hover{
                    color:$mainColor;
                }
                @include media-breakpoint-down(sm){
                    display: none;
                }
                &.visible-mb{
                    display: block;
                    @include media-breakpoint-up(md){
                        display: none;
                    }
                }
            }
        }
    }
    .mb-visible{
        @include media-breakpoint-up(md){
            display: none;
        }
        .related-item{
            margin:10px 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-bottom:solid 1px #E4E4E4;
            padding-bottom:10px;
            margin-bottom:5px;
            &:last-child{
                border-bottom:none;
            }
            .image-side{
                display: flex;
                width: 25%;
                img{
                    width:auto;
                    max-width: 100%;
                    height:auto;
                }
            }
            .content-side{
                width: 75%;
                display: flex;
                flex-direction: column;
                padding-left:10px;
                a{
                    text-decoration: none;
                }
                .name{
                    font-size:16px;
                    color:#272832;
                    font-weight:bold;
                    font-family: "Open Sans";
                    margin-bottom:5px;
                }
                .description{
                    font-size:14px;
                    color:#000000;
                    font-family: "Open Sans";
                    margin-bottom:0;

                }
            }
        }
    }

}