@import "variable";
@import "../../node_modules/bootstrap/scss/bootstrap";
#style-guide-detail{
    .masthead{
        font-size:34px;
        font-family: "Open Sans";
        font-weight: bold;
        color:#343434;
        line-height: 46px;
        margin-top:45px;
        margin-bottom:35px;
    }
    .content{
        font-family: "Open Sans";
        margin-bottom:70px;
        img{
            max-width: 100%;
            height:auto;
        }
    }
}
#break-line{
    border-bottom:1px solid #D7D7D7;
}
#related-product{
    .masthead{
        font-size:26px;
        font-family: "Open Sans";
        font-weight: bold;
        color:#272832;
        margin-top:50px;
        margin-bottom:30px;
    }
    .wrapping-tag{
        position: relative;
        height:100%;
    }
    .tag-sale{
        padding:5px 15px;
        background:$mainColor;
        color:#000000;
        font-size:16px;
        font-weight:bold;
        position: absolute;
        top:10px;
        right:-5px;
        z-index: 10;
        @include media-breakpoint-down(sm){
            padding:3px 10px;
            font-size:7px;
        }
    }
    .product-card {
        height:     100%;
        border:     solid 1px transparent;
        transition: all ease-in-out 0.7s;
        padding:    5px 15px;
        position:   relative;
        overflow:   hidden;

        .redirect-link {
            display: none;
            @include media-breakpoint-down(md) {
                display:  block;
                position: absolute;
                top:      0;
                left:     0;
                width:    100%;
                height:   100%;
                z-index:  4;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 3px 7px;
        }

        &:hover {
            border-color: #e5e5e5;

            .add-card {
                bottom: 12px;
                @include media-breakpoint-down(sm) {
                    bottom: -50px;
                }
            }
        }

        .image-wrapper {
            img {
                display: block;
                margin:  0 auto;
            }
        }

        .product-info {
            .name {
                margin-top:    5px;
                margin-bottom: 6px;
                font-size:     15px;
                color:         #343434;
                font-family:   "Open Sans";
                font-weight:   normal;
                @include media-breakpoint-down(sm) {
                    color:     #343434;
                    font-size: 12px;
                }
            }

            .price-group {
                .item-price {
                    font-size: 14px;
                    color:     #252525;

                    b {
                        font-size: 20px;
                        color:     #343434;
                    }

                    @include media-breakpoint-down(sm) {
                        //color:#4690FF;
                        font-size: 10px;
                        b {
                            font-size: 14px;
                        }
                    }
                }
            }

            margin-bottom: 60px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 5px;
            }
        }

        .add-card {
            position:   absolute;
            display:    block;
            padding:    12px 10px;
            background: #000000;
            bottom:     -100px;
            margin:     0 auto;
            width:      90%;
            left:       0;
            right:      0;
            text-align: center;
            transition: all ease-in-out 0.7s;

            .cta {
                text-decoration: none;
                cursor:          pointer;
                color:           #ffffff;
                font-size:       16px;
                text-align:      center;
            }

            @include media-breakpoint-down(md) {
                display: none;
                padding: 5px 10px;
                .cta {
                    font-size: 12px;
                }
            }
        }
    }
}