@media screen and (max-width: 1196px) {
	p, a{
		font-size: 110%;
	}
	img{
		height: auto;
	}
	.container, .containerpd{
		width: 96%;
		margin: 0 auto;
		max-width: none!important;
	}
	.block-social.block-outer .social-block .item-title img{
		width: auto;
	}
	.header-logo-outer{
		height: auto
	}
	.header-logo-inner img{
		width: 150px;
		margin: 38px auto 0
	}
	.header-menu{
		margin-top: -38px;
	}
	.header-menu > li > a{
		font-size: 18px;
		padding: 12px 10px 25px
	}
	.header-menu > li.menu-item-has-children .sub-menu, .header-menu > li.menu-item-has-children:hover > .sub-menu{
		display: none;
	}
	.header-menu > li.menu-item-has-children:hover{
		border: 1px solid transparent;
		border-bottom: 0;
	}
	
	.product-home-slide .flex-direction-nav li{
		display: none;
	}
	.home-slide li img, .tax-slide li img{
		width: 100%;
		height: auto;
	}
	.home-slide .intro{
		padding: 20px 0;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.block-home-collection .item-inner{
		height: auto;
	}


	.block-home-news-video .grid6{
		width: 100%;
	}
	.block-home-news-video .grid6.block-home-news{
		margin-top: 30px;
		padding-left: 17.5px !important;
	}
	.block-social.block-outer .social-block{
		width: 50%;
		margin-bottom: 30px;
	}

	.tax-slide-holder, .block-style-guid .item-inner .item-thumb{
		height: auto;
	}

	.block-products .item a span{
		display: block;
	}

	.block-news .normal-news .normal-news-inner p.news-excerpt{
		display: none;
	}

	.block-payment .grid6{
		width: 100%;
		margin-bottom: 35px;
	}

	.summary-info > img{
		display: none;
	}
	.summary-info-inner{
		padding-left: 20px;
	}
	.summary-info-inner p{
		font-weight: normal !important;
	}
	.block-uni-partners .flex-direction-nav, .block-uni-partners .flex-direction-nav li{
		display: none;
	}
	.block-intrust{
		display: none;
	}

	.block-uni-partners .block-content p.intro{
		width: 96%;
		margin: 0 auto;
	}

	.footer-top-menu-left, .footer-top-menu-right{
		width: 100%;
		float: none;
	}
	.footer-top-menu-left ul{
		display: block;
		width: 100%;
		text-align: center;
	}
	.footer-top-menu-left ul li.menu-item{
		display: inline-block;
		float: none;
	}
	.footer-top-menu-right .footer-social{
		width: 280px;
		margin: 20px auto 10px;
	}
	.footer-top-menu-right .footer-social a{
		display: inline-block;
		float: none;
	}
	.footer-inner .grid8.pl0{
		width: 100%;
		padding-left: 17.5px !important;
	}
	.footer-inner > .grid4 {
		width: 97%;
	}
	.footer-inner .ft-inner-bot .ft-logo{
		text-align: center;
	}
	.footer-inner .ft-inner-bot .ft-logo a{
		float: none;
	}
	.menu-top>ul>li{
	    margin-left: 15px;
	}
}
@media screen and (max-width: 930px) {
	.block-payment h2 {
		font-size: 18px;
	}
	.right-logo ul li{
		margin-left: 5px;
	}
	.left-top-header ul li {
    	margin-right: 15px;
	}
	.thumb-intro h2{
		font-size: 14px;
	}
	.sub-intro.owl-theme .owl-controls .owl-buttons div {
		font-size: 32px;
	}
	.menu-top > ul > li > a, .sub-menu-list .col-title a, .title-top span {
		font-size: 14px;
	}
	h2.title-cart {font-size: 24px;}
	.menu-top > ul > li {
		margin: 0 20px;
	}
	.header-top-search, .header-menu.header-menu-left, .header-menu.header-menu-right, .header-top-user-info{
		display: none;
	}
	.header-inner.header-menu-mobile{
		display: block;
	}
	.header-top-cart, .header-top-cart a span{
		width: auto;
	}
	.header-menu{
		margin-top: 10px;
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}
	.header-menu > li > a{
		font-size: 16px;
	}
	.header-logo-outer{
		border-bottom: 5px solid #c61d20;
	}
	.header-logo-inner{
		margin: -30px auto 20px;
	}
	.header-logo-inner img{
		width: 150px;
	}
	.block-list-products .lists .item-inner .item-thumb{
		height: auto;
	}
	.block-single-product-more li{
		width: 50%;
		margin-bottom: 15px;
	}
	.block-single-product-more li:nth-of-type(odd){
		clear: both;
	}
	.block-single-product-more li h3{
		height: 40px;
    	line-height: 18px;
    	overflow: hidden;
	}
}
@media screen and (max-width: 768px) {
	body{
		font-size: 12px!important;
	}
	.menu-top>ul>li>a, .sub-menu-list .col-title a{
		text-transform: capitalize;
	}
	.block-account-orders .row label[for=orders_fn] {
    margin-right: 10px;
	}

	.block-account-orders .row input[type="text"] {
		margin-right: 10px!important;
	}
	#hambuger-top-menu{
		display: inline-block;
		float: left;
	}
	a.mobile, p.mobile, label.mobile{display:block;}
	.mobile-clear{clear:both;}
	.top-header {
    width: 100%;
    position: absolute;
    z-index: 1000;
	}
	.block-account-orders thead {
    display: none;
	}
	.block-inner{
		padding: 30px 0 0 0;
	}
	.left-top-header, .right-top-header,.right-logo,.my-menu{
		display: none;
	}
	.top-header a.mobile{
		display: inline-block;
		background: none;
		padding: 5px 10px;
		float:right;
		color: #bdbdbd;
	}
	.first-check-out {
    padding: 15px 15px 100px 15px;
	}

	.first-check-out h1 {
		font-size: 18px;
		margin: 10px 0;
	}

	.first-check-out  .submit >button {
		font-size: 10px;
		padding: 10px 15px;
	}

	.final-bill > span {
		font-size: 20px;
	}

	.first-check-out .submit {
		text-align: right;
		padding: 0;
	}
	.top-header a.mobile i.fa{
		font-size: 33px;
	}
	.block-style-guid .fl:nth-child(even) .item-inner >a .item-thumb, .block-style-guid .fl:nth-child(odd) .item-inner >a .item-thumb, .block-style-guid .fl:nth-child(even) .item-inner .info, .block-style-guid .fl:nth-child(odd) .item-inner .info {
    width: 100%;
	}
	.block-home-product .block-inner .item-inner .item-thumb {height: 240px;}
	.thumb-intro-big img,.thumb-intro-small img{ height: 155px;}
	.thumb-intro-stand img{height: 310px;}
	.block-payment .block-cart td{font-size:12px;padding: 10px 0 5px 5px;}
	.remove-prod{float:none;}
	.remove-prod>i{display: none;}
	.remove-prod p.mobile{display:block;}
	.form-sale button {height: 60px;}
	.form-sale .type-payment {
    	padding: 10px 0;
	}
	.ct-logo a {
		display: block;
		position: relative;
	}
	.ct-logo {
		display: block;
		margin-top:25px;
		padding:0;
	}
	.header-menu > li > a{
		font-size: 16px;
		padding: 8px 10px 8px
	}
	
	.home-slide .intro{
		width: 100%;
		text-align: center;
		left: 0;
		top: 100px;
	}
	.home-slide .intro h2{
		font-size: 30px;
		margin-bottom: 20px;
		font-weight: normal;
	}
	.home-slide .intro p{
		font-size: 18px;
		font-weight: normal;
	}
	.block-home-product .item-inner ul{
		opacity:1;
	}
	.block-home-collection .item-inner .item-title{
		opacity:1;
		font-size:16px;
		margin-bottom: 0;
    	bottom: 0;
	}
	.block-home-product .item-outer{
		margin: 0;
	}
	.block-home-product .item-outer:nth-of-type(2n+1){
		clear: both;
	}
	.block-payment .transport-methods-cart .fr {
    float: none!important;
    text-align: left;
	}
	.block.pay {
    text-align: center;
	}
	.product-cat-slide{width:90%;}
	.block-product-cat .block-inner .item-right-thumb img{height: 300px;}
	.block-product-cat .block-inner .item-inner {height:302px;}
	.block-product-cat .menu-subproduct{display: none;}
	.block.pay button {
		display: inline-block;
	}
	.footer {
		margin-top: 30px;
	}
	.block-payment .transport-methods-cart p {
		padding-bottom: 10px;
	}
	.block-inner .block-title:after{
		margin: 16px auto;
	}
	.block-inner .block-title-inner{
		height: 32px;
	}
	.block-home-cat .item-outer .item-title{
    	font-size: 16px;
	}
	.block-home-video{
		display: none;
	}
	.block-news .hot-news.grid6{
		height: 590px;
	}
	.block-news h1.block-title, .block-news h2.block-title, .block-home-news-video .block-title{
		text-align: center;
	}
	.block-products .grid6 .item{
		width: 545px;
		margin: 0 auto;
	}
	.block-home-product .item-inner{
		width: 100%;
		margin: 0 auto;
	}
	.block-news .grid6 .news-inner{
		width: 480px;
		margin: 0 auto;
	}
	.block-products .grid4 .item{
		width: 350px;
		margin: 0 auto;
	}
	.block-showroom .showroom .grid4{
		width: 41.6666666666%;
	}
	.block-showroom .showroom .grid8{
		width: 58.3333333333%;
	}
	.footer-inner .grid8.pl0 .grid3{
		width: 50%;
		padding: 0 17.5px !important;
	}
	.footer-inner .grid8.pl0 .grid6{
		width: 100%;
	}
	.block-single-product-more li{
		height: auto;
	}
	.block-single-product-more li a, .block-single-product-more img{
		width: 100%;
		height: auto;
	}
	.breadcrumb{
		font-size: 14px;
	}
	.block-single-product .product-details .add-to-wishlist{
		margin-left: 0;
	}
	.tax-slide .flex-control-nav.flex-control-paging{
		bottom: 25px;
		left: 45%;
	}
	.block-style-guide .item-lists-holder .top-block p{
		display: block;
		margin-top: 10px;
	}
	.block-account.logined form{
		width: 100%;
		margin: 0;
	}
	.block-account-orders table, .block-account-orders table tr, .block-account-orders table td, .block-account-orders table th,
	.block-account-orders table tbody, .block-payment .block-cart table.cart-wrap, .block-payment .block-cart table.cart-wrap tr, 
	.block-payment .block-cart table.cart-wrap td, .block-payment .block-cart table.cart-wrap tbody{
		display: block;
	}
	.block-account-orders table thead tr, .block-payment .block-cart table.cart-wrap thead tr, .block-payment .block-cart table.cart-wrap tr:first-child{
		position: relative;
	}
	.cart-wrap thead {
    	display: none;
	}
	.block-account-orders table tbody tr:first-of-type{
		border-top: 1px solid #DCDDDE
	}
	.block-account-orders table td, .block-payment .block-cart table.cart-wrap td{
		position: relative;
	}
	.block-payment .block-cart table.cart-wrap td{
	}
	.block-account-orders table td:before, .block-payment .block-cart table.cart-wrap td:before{
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		font-weight: bold;
	}
	.block-payment .block-cart table.cart-wrap td:before{
		top: 15px;
		left: 15px;
		font-size: 18px;
		width: 35%;
	}
	.block-payment .block-cart table td img{
		height: auto;
	}

	.block-account-orders table td:before {display: block;position: relative;left: 0;padding-bottom: 10px;}
	.block-account-orders table td:nth-of-type(1):before {content: "Mã đơn hàng";}
	.block-account-orders table td:nth-of-type(2):before {content: "Ngày đặt"}
	.block-account-orders table td:nth-of-type(3):before {content: "Trạng thái"}
	.block-account-orders table td:nth-of-type(4):before {content: "Mặt hàng"}
	.block-account-orders table td:nth-of-type(5):before {content: "Thành tiền"}

	.block-payment .block-cart table.cart-wrap td:nth-of-type(1):before {content: '';}
	.block-payment .block-cart table.cart-wrap td:nth-of-type(2):before {content: '';}
	.block-payment .block-cart table.cart-wrap td:nth-of-type(3):before {content: '';}
	.block-payment .block-cart table.cart-wrap td:nth-of-type(4):before {content: '';}
	.block-payment .block-cart table.cart-wrap td:nth-of-type(5):before {content: '';}
	.block-payment .block-cart table.cart-wrap td:nth-of-type(6):before {content: "GiÃƒÂ¡"}

	.block-payment .block-cart table.cart-wrap tr.cart-empty td:before,
	.block-payment .block-cart table.cart-wrap tr.cart-non-empty td:before{
		display: none;
	}
	.block-payment .block-cart table.cart-wrap tr.cart-empty td,
	.block-payment .block-cart table.cart-wrap tr.cart-non-empty td{
		width: 100%;
		padding: 10px;
		text-align: center !important;
	}
	.item-animate-holder .item{
		width: 100%;
		display: block;
		padding: 0 17.5px !important;
	}
	.block-single-product .product-preview .preview-image-holder{
		height: auto;
	}
	.block-single-product .product-details h2{
		font-size: 16px;
	}
	.block-style-guide .item-lists .item.grid4{
		width: 50%;
	}
	.block-style-guide .item-lists .item.grid4 .item-outer{
		margin-bottom: 30px;
	}
	.block-style-guide .item-lists .item.grid4:nth-of-type(4n+1){
		clear: none;
	}
	.block-style-guide .item-lists .item.grid4:nth-of-type(2n+1){
		clear: both;
	}

	.block-list-products .lists .item-inner .item-title a{
		font-size: 16px;
	}

	#popup-link .posr{
		left: 4%;
		max-width: 92%;
		margin-left: 0;
	}
	.block-home-product .item-inner ul li{
		margin-right: 5px;
	}
	.block-home-product .item-inner .add-to-wishlist,
	.block-home-product .item-inner .add-to-cart {
    font-size: 20px;
	}

	.search-mobile{
		display: inline-block;
        position: relative;
	    left: 55px;
	    top: -51px;
	    z-index: 1000;
	}

	.sub-menu-list{
		min-height: 1px !important;
	}
	.sub-menu-mobile{
		display: none;
	}

}
@media screen and (max-width: 480px) {	
	.empty-cart >img {
    max-width: 100%;
    }
	.empty-cart h5 {font-size:20px;}
	.empty-cart{padding:30px;}
	.block-news .vitem-inner .vitem-title a{line-height: 14px;}
	.block-news .vitem-inner .vitem-info .vitem-title {
    padding: 5px 10px;
    height: 140px;
	}
	.block-inner .vitem-inner .vitem-thumb img {
    height: 148px;
	}
	.block-news .vitem-outer {
    height: 150px;
	}
	.list-prod-cart thead {
    	display: none;
	}
	.ct-logo img {
    width: 100%;
    height: auto;
	}
	.page-account-form{
		width: 100%;
	}
	.block-inner {
    padding: 15px 0 0 0;
	}
	.product-cat-slide{width:96%;}
	.block-product-cat .owl-controls .owl-buttons .owl-prev, .block-product-cat .owl-controls .owl-buttons .owl-next{
		top: 100px;
    	font-size: 30px;
	}
	.block-product-cat .owl-controls .owl-buttons .owl-prev{left:-25px;}
	.block-product-cat .owl-controls .owl-buttons .owl-next {right: -25px;}
	.block-product-cat .block-inner .item-right-thumb img {height: 220px;}
	.block-product-cat .block-inner .item-inner {height: 222px;}
	.block-product-cat .menu-subproduct{display:none;}
	.block-product-cat .block-inner .block-title-inner {font-size:16px;}
	.block-product-cat .block-inner .block-title-outer {margin-top: 30px;}
    .block-product-cat .item-description{
    	height: 40px;
    	overflow: hidden;
    	margin-bottom: 0;
    	font-size: 12px;
    }
    
    .block-product-cat .block-inner .item-button{
    	margin-bottom: 20px;
    	width:auto;
    	padding: 10px 20px;
    }
	.top-search-form {
		position: relative;
		text-align: center;
		padding: 10px 0 50px;
		padding-bottom: 0;
	}		
	.right-top-header ul li {
		display: block;
		margin-left: 0;
	}
	.right-top-header {
		float: left;
	}
	.facebook, .contact{
	display: none;
	}
	.payment, .logistic{
		display: inline-block;
		width: 50%;
		float:left;
	}
	.payment img, .logistic img{
	width:100%;
	}
	.text-footer{font-size:14px;}
	section.block {
    margin: 20px 0 0 0;
	}
	.block-home-cat .item-inner {
		height: auto;
		/* padding:15px; */
	}
	.block-payment .block-cart table.list-prod-cart tbody tr td {
		display: block;
	}
	.flex-control-nav.flex-control-paging{bottom: 15px;}
	.flex-control-nav.flex-control-paging a{width: 5px;height: 5px; margin-right: 5px;}
	.block-home-product .block-inner .item-inner .item-thumb{height:210px;}
	.thumb-intro-big img,.thumb-intro-small img{ height: 77px;}
	.thumb-intro-stand img{height: 154px;}
	.form-sale button{height: auto;}
	h2.title-cart {font-size: 18px;}
	.block-payment h2 {font-size: 16px;}
	.block-payment .block-cart td input, .block-payment .block-cart td select, .other-receive{font-size: 14px;}
	.block-payment .block-cart td{padding: 10px 0 5px 10px;}
	.home-news-slide .item-outer {
    	margin: 5px;
	}
	.home-news-slide .item-inner .item-title a,
	.block-news .item-inner .item-title a,
	.block-style-guide .item-lists .item-inner .item-title a{
		font-size: 12px;
	}
	.block-style-guide .left-widget li,
	.block-style-guide .top-widget{
	padding:0;
	}
	.block-style-guide .left-widget li{
	width:50%;
	}
	.block-style-guide .left-widget > li:nth-child(odd) > a {
    border-left: 1px solid #bdbdbd;
	}
	.block-style-guide .left-widget > li:nth-last-child(2) > a,
	.block-style-guide .left-widget > li:last-child > a{
	border-bottom: 1px solid #bdbdbd;
	}
	.block-style-guide .left-widget > li > a{
	font-size:16px;
	padding: 5px 5px;
	border-bottom:none;
	}
	.block-style-guid .fl:nth-child(even) .item-inner >a .item-thumb,
	.block-style-guid .fl:nth-child(odd) .item-inner >a .item-thumb,
	.block-style-guid .fl:nth-child(even) .item-inner .info,
	.block-style-guid .fl:nth-child(odd) .item-inner .info{
	width:100%;
	}
	.block-style-guide .post_content ul{
	width:50%;
	}
	.block-account p.last {
    margin: 0 0 15px;
	}
	.block-account p.birthday {
    width: 100%;
	}
	#showroom-filter-btn{
		width: 100%;
		margin-bottom:20px;
	}
	.block-products .item-outer h3{
		font-size: 16px;
		padding: 10px 5px;
	}
	.block-products .item.item-dongphuc{
		height:auto;
	}
	.block-products .item a, .block-products .item img{
		height:auto;
	}
	.dongphuc-service{
		padding: 0 20px;
	}
	.dongphuc-service img{
		margin:auto;
		max-width: 100%;
	}
	.block-products .top-products{
		margin-bottom: 0;
		padding: 0;
	}
	.block-products .top-products .item-outer{
		padding: 0 5px;
	}
	.block-products .item-outer h3{
		height:54px;
		overflow: hidden;
	}
	.block-product-trainer .tablist-multilvl .button-download-catalogue{
	    right: 0px;
	    padding: 7px 0;
	    text-align: center;
	    width: 100%;
	}
	.block-product-trainer .tablist-multilvl .tab-title {
    padding-top: 55px;
	}
	.block-uni-orders {
    padding: 0;
	}
	.block-uni-orders h2.block-title {
    font-size: 18px;
	}
	.block-uni-orders ul:before{
    border-left: 20px solid transparent;
    border-bottom: 20px solid #b3111b;
	}
	.block-uni-orders ul:after {
	border-right: 20px solid transparent;
    border-top: 20px solid #b3111b;
    }
	.block-uni-orders ul{
		padding: 20px 20px 0;
	}
	.block-uni-orders .fluid ul .grid12 {
    padding: 10px 0;
    font-size: 16px;
	}
	.block-uni-orders .uni-form input[type=submit]{ 
    padding: 10px 25px;
	}
	.home-news-slide .item-inner .item-title, .block-news .item-inner .item-title, .block-style-guide .item-lists .item-inner .item-title {
    margin: 10px;
    height: 80px;
    }
    .mobile-nopadding{
    	padding:0!important;
    	margin:0!important;
    }
    .block-single-product .product-preview .preview-image li,
    .block-single-product .product-preview .preview-image{
    	height: 322px!important;
    }
    .block-single-product .product-preview .thumbnail-preview li{
    width: 50px;
    height: 55px;
    }
    .block-introduce .item-inner .item-title {
    	margin:15px;
    	height: 25px;
    }
    .block-introduce .item-inner .item-excerpt {
    	margin: 0 15px;
    }
    .block-introduce-subpage .menu-subpage li{
    	padding: 10px 20px;
    }
    .block-account p a.captcha{right:5px;top:20px;}
    .block-news {
    padding-top: 0;
	}
	.block-news .block-inner .item-button {
    margin-bottom: 20px;
	}
    .block-news .hvitem-outer {
    	height:auto;
    	margin: 5px;
    }
    .block-style-guide .item-lists .item-outer, .block-news .item-outer {
    margin: 5px;;
	}
	.block-news .title-outer {
    margin: 0 0 10px 15px;
	}
	.block-news .block-news-relative {
    padding: 20px 0 0px;
	}
    .block-inner .hvitem-inner .hvitem-thumb {
    width: 100%;
    display: block;
	}
	.block-news .hvitem-inner .hvitem-info {
    display: block;
    width: 100%;
    position: relative;
	}
	.block-news .hvitem-inner .hvitem-title a {
    font-size: 12px;
	}
	.block-inner .hvitem-inner .hvitem-thumb img{
	height:auto;
	}
	.block-news .hvitem-inner .hvitem-info .hvitem-title {
	height:80px;
	margin:10px;
	padding:0;
	}
	.block-news .hvitem-inner .hvitem-info h2{	
	line-height:18px;
	}
	.block-inner .block-title{
		font-size: 20px;
	}
	.block-inner .block-title:after{
		margin: 14px auto;
		width:100px;
	}
	.block-inner .block-title-inner{
		height: 28px;
	}
	.block-home-cat .item-outer .item-title{
    	font-size: 16px;
	}
	.block-home-cat .block-inner .block-title-outer {
		margin-bottom:45px;
	}
	.block-home-product .item-inner .item-title a{	
		font-size: 12px;
	}
	.block-home-product .item-inner .item-title a{
	margin-top:0;
	}
	.header-top-search{
		margin-top: 20px;
		clear: both;
	}
	.header-logo-inner img{
		width: 110px;
	}
	.header-menu.header-menu-left{
		margin-top: 10px;
	}
	.home-news-slide .item-inner .item-info p,
	.block-news .item-inner .item-info p,
	.block-news .hvitem-inner .hvitem-info p,
	.block-style-guide .item-lists .item-inner .item-info p {
		font-size:12px;
		display:none;
	}
	.footer-top-menu-left ul li.menu-item{
		padding-top: 10px;
	}
	.tax-slide-holder{
		display: none;
	}
	.home .block-social{
		display: none !important;
	}
	.block-tax .left-col, .block-introduce-subpage .block-content > .grid3, .block-introduce-subpage .block-content > .grid9, 
	.block-social.block-outer .social-block, .block-applyjob .top-products > .grid3, .block-applyjob .top-products > .grid9,
	.left-col.grid2-5, .grid9-5.block-main, .block-style-guid .grid6, .block-showroom .showroom .grid4, .block-showroom .showroom .grid8,
	.summary-info .summary-info-inner .grid6, .block-style-guide .block-content .grid3, .block-style-guide .block-content .grid9, .block-account-orders .grid9 {
		width: 100%;
	}
	.block-home-product .item-outer:nth-of-type(2n+1), .block-home-product .item-outer:nth-of-type(4n+1){
		clear: none;
	}
	.block-showroom .showroom .grid8{
		padding: 0 20px !important;
	}
	.block-style-guide .block-content .grid3, .block-style-guide .block-content .grid9, .block-account-orders .grid9{
		padding: 0 17.5px !important;
	}
	.block-style-guide .block-content .grid9{
		margin-top: 35px;
	}
	.block-products .grid6 .item, .block-products .grid4 .item{
		width: 90%;
		height: auto;
		overflow: hidden;
	}
	.block-introduce .block-inner .introduce-item.grid6{
		width: 100%;
	}
	.block-home-collection .grid4{
		width: 100%;
	}
	.block-home-collection .grid4 .item-outer{
		width: 275px;
		margin: 0 auto 35px;
	}
	.block-account .container .grid6{
		width: 100%;
		display: block;
		float: none;
		margin-bottom: 40px;
	}
	.block-news .block-ads, .block-news .block-news-inner{
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
	.block-home-news .item-inner .item-excerpt, .block-home-news .item-inner .item-more, .block-home-news .item-inner .item-metas,
	.block-news .normal-news .normal-news-inner a.news-view-more{
		display: none;
	}
	.block-collection .item-collection-outer.grid6{
		width: 100%;
		padding: 0 17.5px !important;
		margin-bottom: 40px;
	}
	.block-collection .item-collection-outer.high img{
		display: block;
		height: 100%;
		width: auto;
		position: absolute;
		left: -60%;
	}
	.block-collection .tab-content li.grid6{
		width: 100%;
	}
	.block-collection .tab-title a{
		font-size: 14px;
	}
	.header-top-cart > a{
		padding-right: 0px;
		background: none;
	}
	.header-top-cart:hover, .header-top-cart.hover{
		border: none;
	}
	.header-top-cart:hover .header-top-relative{
		display: none !important;
	}
	.block-uni-orders .grid9{
		width: 100%;
	}
	.block-product-trainer .tablist-multilvl .grid6{
		width: 100%;
		margin-top: 35px;
	}
	.block-product-trainer .tablist-multilvl .grid6.intro.pl0{
		padding-left: 17.5px !important;
	}
	.block-product-trainer .tablist-multilvl .tab-title{
		padding-top: 45px;
	}
	.block-product-trainer .tablist-multilvl .tab-title .tab-subtitle{
		top: auto;
		padding: 5px 10px;
	}
	.block-list-products .lists.grid-style li{
		width: 100%;
	}
	.block-list-products .lists.grid-style li:nth-of-type(3n+1){
		clear: none;
	}
	.block-list-products .lists.grid-style li .item-outer{
		width: 100%;
		max-width: 275px;
		margin: 0 auto;
	}
	/* .block-list-products .lists.grid-style li:nth-of-type(2n+1){
		clear: both;
	} */
	.block-list-products .lists .item-inner .item-thumb{
		height: auto;
	}
	.block-list-products .pagination .grid5, .block-list-products .pagination .grid7{
		width: 100%;
	}
	.block-list-products .pagination .total p{
		text-align: center;
	}
	.block-list-products .pagination .grid7 ul{
		width: 100%;
		display: block;
		text-align: center;
		float: none;
		margin-top: 15px;
	}
	.block-list-products .pagination .paginate li{
		float: none;
		display: inline-block;
		width: auto;
	}
	.block-list-products .pagination .paginate li.select-holder{
		vertical-align: top;
	}
	.block-filter-product select{
		width: 100%;
		margin-bottom: 10px;
	}
	.block-single-product > .grid6{
		width: 100%;
		margin-bottom: 15px;
	}
	.product-metadata .item-price{
		font-size:24px;
	}
	.block-single-product-more li{
		padding:0 10px;
	}
	.block-single-product .product-preview .preview-image-holder{
		height: auto;
	}
	.block-uni-orders .grid9 .grid6{
		width: 100%;
		padding: 0 10px;
	}
	.block-tax .block-main .top-block > .fr{
		display: none;
	}
	.block-tax .left-col .block-advertise img{
		max-width: 100%;
		display: block;
		margin: 0 auto;
		width: auto;
	}
	.block-product-trainer .tablist-multilvl .tab-title > li{
		display: block;
		width: 100%;
	}
	.block-product-trainer .tablist-multilvl .tab-title .tab-subtitle{
		position: relative;
		margin-bottom: 10px;
	}
	.block-product-trainer .tablist-multilvl .tab-title > li > a{
		font-size: 18px;
	}
	.block-product-trainer .tablist-multilvl .tab-title .tab-subtitle li{
		width: 100%;
		float: none;
		padding-left: 20px;
	}
	.block-product-trainer .tablist-multilvl .tab-title .tab-subtitle li span{
		display: none;
	}
	.block-product-trainer .tablist-multilvl .tab-title .tab-subtitle a{
		font-size: 14px;
	}
	.block-single-product .product-details .product-metadata .info_size .info_size_box{
		position: fixed;
		top: 30px;
		left: 20%;
	}
	.block-news .grid6 .news-inner, .block-news .normal-news .news-inner > a {
		width: 100%;
	}
	.block-news .normal-news .normal-news-inner{
		position: relative;
		padding: 0 15px;
		margin-top: 15px;
		width: 100%;
	}
	.block-account h1.block-title{
		text-align: center;
	}
	.block-account .row.grid12 p span{
		display: block;
		width: 100%;
		float: none;
		padding-left: 0;
		margin: 10px 0;
	}
	.block-style-guide .item-lists .item.grid4{
		width: 100%;
	}
	.block-style-guide .item-lists .item.grid4 .item-outer{
		max-width: 260px;
		width: 260px;
		margin: 0 auto 30px;
	}
	#search-hide-mobile{
		display: block !important;
		position: absolute;
	    left: 75px;
	    top: 34px;
	}
	.left-logo-mobile{
		display: none;
		background-color: #fff;
		    width: 362%;
    	height: 56px;
	}
	.search-mobile{
        position: relative;
	    left: -1px;
	    top: 0px;
	}
	#header-top-search-text{
		color: black;
		border-bottom: 1px solid black;
	}
	.top-search-form button#header-top-search-cancel{
	    position: absolute;
	    right: 2%;
	    top: 5px;
	    z-index: 1000;
	}
	.left-logo-mobile .search-results{
		    left: 15px;
   		width: 280%;
   		top:50px;
	}
	#header-top-search-cancel, .top-search-form i{
		color: black;
	}
}
@media screen and (max-width: 380px) {
	.header-top-menu{
		width: 96%;
		left: 2%;
	}
	.header-top-outer a{
		font-size: 14px;
	}
	.header-menu > li > a{
		font-size: 16px;
	}
	.header-top-relative{
		width: 280px;
	}
	.header-top-user-login .header-top-relative .top .cart-left{
		width: 186px !important;
	}
	.header-top-user-login p a{
		display: block;
		margin: 15px 0 0;
	}
	.block-inner .block-title-outer{
		height: 40px;
	}
	.block-inner .block-title-inner {
		font-size: 23px;
		height: 40px;
	}
	.video-display .play-button{
		top: 32%;
		left: 40%;
	}
	.block-home-video .video-related .item-inner .play-button {
		top: 13%;
		left: 18%;
	}
	.block-home-news .item-inner .item-thumb, .block-home-news .item-inner .item-info{
		width: 100%;
	}
	.block-home-news .item-inner .item-info{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.block-products .item.big-item a span{
		font-size: 35px;
	}
	.block-products .item.normal-item a span {
		padding-top: 25%;
		font-size: 30px;
	}
	.block-products .item.small-item a span{
		font-size: 30px;
	}
	.block-list-products .lists.grid-style li{
		width: 100%;
	}
	/* .block-list-products .lists.grid-style li .item-outer{
		width: 100%;
		max-width: 275px;
	} */
	.block-single-product .product-details .product-metadata .info_size .info_size_box{
		position: fixed;
		top: 30px;
		left: 9%;
	}
	.block-collection .item-collection-inner .intro h3 a{
		font-size: 18px;
	}
	.block-account h1.block-title span{
		font-size: 28px;
	}
	.block-applyjob .main-page .the-content-page table, .block-applyjob .main-page .the-content-page table tbody, .block-applyjob .main-page .the-content-page table tr, .block-applyjob .main-page .the-content-page table td{
		display: block;
		width: 100%;
	}
	.block-applyjob .main-page .the-content-page table tr:nth-of-type(even){
		background-color: #ddd;
	}
	.block-applyjob .main-page .the-content-page table tr.td-title{
		background-color: #aaa;
	}
	.block-applyjob .main-page .the-content-page table tr:nth-of-type(1),
	.block-applyjob .main-page .the-content-page table tr:nth-of-type(2),
	.block-applyjob .main-page .the-content-page table tr:nth-of-type(3),
	.block-applyjob .main-page .the-content-page table tr.td-title td:before{
		display: none;
	}
	.block-applyjob .main-page .the-content-page table td{
		border: 1px solid #231f20;
		border-bottom: 0;
		padding-left: 35%;
		position: relative;
	}
	.block-applyjob .main-page .the-content-page table tr:last-of-type td:last-of-type{
		border-bottom: 1px solid #231f20;
	}
	.block-applyjob .main-page .the-content-page table tr.td-title td{
		padding-left: 5px;
	}
	.block-applyjob .main-page .the-content-page table td:before{
		position: absolute;
		top: 5px;
		left: 5px;
		width: 35%;
		/* text-transform: uppercase; */
		font-weight: bold;
		font-size: 13px;
	}
	.block-applyjob .main-page .the-content-page table td:nth-of-type(1):before{content: 'NÃ¡Â»â„¢i dung'}
	.block-applyjob .main-page .the-content-page table td:nth-of-type(2):before{content: 'ThÃ¡ÂºÂ» bÃ¡ÂºÂ¡c'}
	.block-applyjob .main-page .the-content-page table td:nth-of-type(3):before{content: 'ThÃ¡ÂºÂ» vÃƒÂ ng'}
	.block-applyjob .main-page .the-content-page table td:nth-of-type(4):before{content: 'Kim cÃ†Â°Ã†Â¡ng'}

	.search-mobile {
	    left: -4px;
	}
	.left-logo-mobile{
	    width: 377%;
	}
	.left-logo-mobile .search-results{
	    width: 283%;
	}
	.left-logo-mobile .search-results li a{
		font-size: 12px;
	}
}
@media screen and (max-width: 320px) {
	.left-logo-mobile{
	    width: 400%;
	}
	.top-search-form button#header-top-search-cancel{
	    right: -1%;
	}
	.left-logo-mobile .search-results li a{
		font-size: 10px;
	}
}