.btn[id^=campaign], .btn {
    border-radius: 0!important;
    background: #3bbdb2!important;
    border-width: 0!important;
    color: #fff;
    outline: none!important;
}
.total-campaign {
    margin: 0;
}
.dataTables_wrapper {
    border-top: 1px solid rgba(217, 83, 79, 0.11);
}
#campaign-form p{margin: 13px 0}
#campaign-form label{min-width: 200px; display: inline-block; vertical-align: middle; text-align: left; font-weight: bold}
#campaign-form select{vertical-align: top}
#campaign-form textarea{width: 25em}
.campaigns-table{width: 100%; margin-bottom: 50px;}
.campaigns-table .select2-container{width: 100% !important;}
.campaigns-table, .campaigns-table th, .campaigns-table td{border-collapse: collapse; padding: 5px; border: 1px solid #777;}
.campaigns-table td{text-align: center;}
.modal-body .bs-error {
    color: #d9534f;
    padding: 0 10px;
    font-weight: 600;
}
.loop-block .input-group-addon {
    font-size: 13px;
}
.form-sale-config > .select-form {
    text-align: center;
    padding: 25px 0 15px 0;
}
.loop-block {
    margin-bottom: 10px;
}
.form-sale-config > .select-form label {
    margin-right: 10px;
}
.select2-results__option[aria-selected=true] {
    display: none;
}
.select2-selection--multiple {
    border-style: dashed!important;
    border-bottom: 1px dashed #5897fb!important;
}
#campaign_multi_product_btn_edit {
    display: none;
}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    display: block;
}
.select2-selection__choice {
    padding: 10px 3px !important;
    background: transparent!important;
    /* color: #fff; */
    border: 0px solid #2bad60!important;
    border-bottom: 1px dashed #d8e4dd!important;
    word-break: break-all;
    white-space: normal;
    display: block;
    float: none!important;
    margin: 2px 0!important;
}
table.dataTable thead th {
    text-align: center;
}
.wrap-table-camp {
    width: 100%;
    border: 1px solid #efefef;
    padding: 10px;
    margin-top: 0;
}
table.dataTable.display tbody>tr.odd.selected {
    background: #394856!important;
    color: #fff;
}
.dataTable {
    font-size: 13px;
}
.btn {
    font-size: 14px!important;
}
table.dataTable.display tbody>tr.odd.selected>.sorting_1 {
    background: #394856!important;
}

table.dataTable tbody>tr.selected {
    background: #304152!important;
    color: #fff;
}

table.dataTable.display tbody>tr.selected:hover {
    background: #455f79;
}

table.dataTable.display tbody>tr.even.selected>.sorting_1 {
    background: #293644!important;
}
.table_camp_error {
    padding: 15px 0 0;
    color: #d9534f;
}
.header-target {
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 15px;
    font-weight: 700;
    /* border: 1px solid #36415d; */
    background: #f7f7f7;
    padding: 15px 20px;
    color: #363942;
    /* max-width: 500px; */
    display: block;
    margin: 50px 0 0 0;
}
.modal-body label {
    font-weight: 600;
}
.modal-dialog {
    margin-top: 80px!important;
}
.form-sale {
    /* border: 1px solid #d9534f; */
    /* color: #d9534f; */
}

.form-sale-config {
    padding: 0px 0 30px 0;
}
.error-coupon {
    font-size: 13px;
    color: #ffffff;
    margin: 10px 0 0 0;
    background: rgba(224, 39, 46, 0.75);
    border: 1px solid #e0272e;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
.dataTables_scrollHeadInner {
    width: 100%!important;
}

table.dataTable {
    width: 100%!important;
    border-width: 0;
    border-top: 0;
}
select#coupon_users_filter,select#coupon_users_filter {
    display: block;
    width: 100%;
}

select[id^=filter_by_] {
    width: 100%!important;
}
#coupon_users_only+span {
    width: 100%!important;
}
.coupon-admin-table tr > th {
    vertical-align: top;
}
.time_select_event label {
    display: block!important;
    margin: 10px 0!important;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    /* background-color: white!important; */
    /* border: 0; */
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom-color: #eaeaea!important;
}
.flat-control {
    border-width: 0!important;
    border-radius: 0!important;
    box-shadow: none!important;
    text-align: center;
    padding: 0!important;
    font-size: 15px!important;
}

/* Loading panel */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 40, 45, 0.97);
    padding: 250px 0 0 0;
    z-index: 99;
    text-align: center;
}
.windows8 {
	position: relative;
	width: 54px;
	height:54px;
	margin:auto;
}

.windows8 .wBall {
	position: absolute;
	width: 51px;
	height: 51px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 7px;
	height: 7px;
	background: rgb(217,84,79);
	left:0px;
	top:0px;
	border-radius: 7px;
}

.windows8 #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}
.loading .descr {
    color: #7d7b7b;
    padding-top: 20px;
    display: block;
    font-size: 15px;
}
/* end loading panel */
.btn[id^=campaign] i {
    margin-right: 5px;
    font-weight: 300;
}
.campaign-prod {
    margin: 15px 0;
}
.campaign-prod > span {
    font-weight: 700;
    color: #da450a;
    margin-left: 10px;
}
.show-more .detail {
    display: inline-block;
    cursor: pointer;
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid #efefef;
    color: #585454;
}

.show-more content .title {
    color: #da450a;
}
.show-more .content {
    display: block;
}