#event-detail .masthead {
  font-size: 34px;
  font-family: "Open Sans";
  font-weight: bold;
  color: #343434;
  line-height: 46px;
  margin-top: 45px;
  margin-bottom: 35px; }

#event-detail .content {
  font-family: "Open Sans";
  margin-bottom: 70px; }
  #event-detail .content img {
    max-width: 100%;
    height: auto; }
