@font-face {
    font-family: SanFrancisco;
    font-weight: 400;
    src: url('https://thoitrangkhatoco.vn//wp-content/themes/khatoco/assets/dncss/css/font/SanFranciscoDisplay-Light.otf');
}
@font-face {
    font-family: SanFrancisco;
    font-weight: 500;
    src: url('https://thoitrangkhatoco.vn//wp-content/themes/khatoco/assets/dncss/css/font/SanFranciscoDisplay-Semibold.otf');
}
@font-face {
    font-family: SanFrancisco;
    font-weight: 600;
    src: url('https://thoitrangkhatoco.vn//wp-content/themes/khatoco/assets/dncss/css/font/SanFranciscoDisplay-Bold.otf');
}
body{
    font-family: SanFrancisco,Arial,sans-serif;
}
.text-org{
    color:#cd7229;
}

.bg-org{
    background-color:#cd7229;
}
.header-landing{
    padding:20px 15px;
    font-size: 30px;

}
.header-content{
     background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(100%, rgba(28,28,28,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1c1c1c', GradientType=0 );
}
.banner{
   /* background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(100%, rgba(28,28,28,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1c1c1c', GradientType=0 );*/
    /*height: 920px;*/
    background-size: cover;
    /*padding-left:200px;*/
}
.banner > .content{
    color: #FFF;
    /*max-width: 300px;*/
}
.body-content{
    background-image: url(https://thoitrangkhatoco.vn//wp-content/themes/khatoco/assets/landing-page/contentbg.png);
    height: 1179px;
    background-size: cover;
    background-position: -2px 1px;
}

.body-content-detail{
    background-image: url(https://thoitrangkhatoco.vn//wp-content/themes/khatoco/assets/landing-page/content-bg.jpg);
    height: 1179px;
    background-size: cover;
    background-position: -2px 1px;
}
.footer-content{
    
    height: auto;
    padding-top:50px;
    color: #FFF;
     background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(100%, rgba(28,28,28,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(28,28,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1c1c1c', GradientType=0 );
   
}

.detail-content{
    padding-top: 100px;
    padding-left: 60px;
}
/*
.card-gold-bound,.card-dimond-bound,.card-silver-bound{
    top: 585px;
}*/
.img-card-gold, .img-card-dimond,.img-card-silver{
    height: 50px!important;
    width: 100px!important;
}
.card-gold > .img-product {
    height: 200px;
    width: auto;
}

.card-dimond > .img-product {
    height: 143px;
    /*width: auto;*/
}

.card-silver > .img-product {
    height: 162px;
    width: auto;
}
.content-campaign {
    padding-left: 393px;
}

.text-content-campaign {
    font-size: 50px;
}
.text-content-mid{
    font-size: 110px
}
.text-content-bottom {
    font-size: 65px;
}

.text-content-bottom-sub {
    font-size: 44px;
}

.btn-custom{
    color: #fff;
    background-color: #cd7229;
    border-color: #cd7229;
}

.btn-custom:hover{
    color: #fff;
    background-color: #a85c1f;
    border-color: #a85c1f;
}
.content{
    margin-top: 136px;
}



/* Extra small devices (phones, less than 768px) 
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/*@media (min-width: 768px) {
    .card-gold-bound,.card-dimond-bound,.card-silver-bound{
    top: 585px;
    }
    .img-card-gold, .img-card-dimond,.img-card-silver{
        height: 30px;
    }
    .card-gold > .img-product {
        height: 200px;
    }

    .card-dimond > .img-product {
        height: 143px;
    }

    .card-silver > .img-product {
        height: 162px;
    }
}*/

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: 992px) { 
    .card-gold-bound,.card-dimond-bound,.card-silver-bound{
        top: 585px;
    }
    .img-card-gold, .img-card-dimond,.img-card-silver{
        height: 30px;
    }
    .card-gold > .img-product {
        height: 200px;
    }

    .card-dimond > .img-product {
        height: 143px;
    }

    .card-silver > .img-product {
        height: 162px;
    }
}*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) { 
    .card-gold-bound{
        top: 767px;
    }
    .card-dimond-bound{
        top: 762px;
    }
    .card-silver-bound{
        top: 755px;
    }
    .img-card-gold, .img-card-dimond,.img-card-silver{
        height: 30px;
    }
    .card-gold > .img-product {
        height: 163px;
    }

    .card-dimond > .img-product {
        height: 109px;
    }

    .card-silver > .img-product {
        height: 142px;
    }
}*/
